@media screen and (max-width: 991px) {
  .page-aside, .aside {
    min-height: auto;
  }

  .main {
    &__aside {
      width: 100%;
    }

    &__content {
      min-width: unset;
      width: 100%;
    }
  }
}
