<aside class="aside py-20">
    <div class="aside__field" ng-repeat="(key, field) in fields">
        <div class="d-flex justify-space-between align-items-center mb-10">
            <label for="{{field.key}}" class="custom-label">{{field.label}}</label>
            <div class="aside__field-actions" ng-if="field.actions">
                <div class="btn-group ml-10" ng-repeat="action in field.actions" dropdown is-open="fields[{{key}}].actions[{{$index}}].opened">
                    <button
                            class="btn btn-success btn-sm dropdown-toggle"
                            type="button"
                            dropdown-toggle
                            aria-haspopup="true"
                            aria-expanded="false"
                            ng-click="action.handler(scope)"
                    >
                        <i class="{{action.icon}}"></i><i class="caret" style="margin-left: 6px;"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                        <li role="menuitem" ng-repeat="link in action.list"><a href="{{link.href}}">{{link.text}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="switch" ng-switch on="field.type">
            <div class="input-group" ng-switch-when="search">
                <input
                        type="text"
                        id="{{field.key}}"
                        class="form-control"
                        placeholder="{{field.placeholder}}"
                        ng-model="field.value"
                >
                <button type="button" class="btn input-group-addon aside__field-btn">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </button>
            </div>
            <div class="input-group" ng-switch-when="date">
                <input
                    type="text"
                    class="form-control"
                    datepicker-popup="{{datepicker.format}}"
                    ng-model="field.value"
                    is-open="datepicker.status.opened"
                    min-date="datepicker.minDate"
                    max-date="datepicker.maxDate"
                    datepicker-options="datepicker.dateOptions"
                    close-text="Закрыть"
                    clear-text="Очистить"
                    current-text="Сегодня"
                    placeholder="{{field.placeholder}}"
                />
                <button type="button"
                        class="btn btn-default"
                        ng-click="datepicker.open(scope)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </div>
            <div class="input-group" ng-switch-when="input">
                <input
                        type="text"
                        id="{{field.key}}"
                        class="form-control"
                        placeholder="{{field.placeholder}}"
                        ng-model="field.value"
                >
            </div>
            <div class="input-group" ng-switch-when="textarea">
                <textarea
                    rows="5"
                    id="{{field.key}}"
                    class="form-control"
                    placeholder="{{field.placeholder}}"
                    ng-model="field.value"></textarea>
            </div>
            <div class="input-group" ng-switch-default>
                <input
                        type="text"
                        id="{{field.key}}"
                        class="form-control"
                        placeholder="{{field.placeholder}}"
                        ng-model="field.value"
                >
            </div>
        </div>
        <hr ng-if="$index !== fields.length - 1">
    </div>
    <app-filter-list ng-attr-items="users"></app-filter-list>
</aside>
