<aside class="aside py-20">

    <app-patient></app-patient>

    <div class="aside__field" ng-repeat="field in fields">
        <div class="d-flex justify-space-between align-items-center mb-10">
            <label for="{{field.key}}" class="custom-label">{{field.label}}</label>
            <div class="aside__field-actions" ng-if="field.actions">
                <app-dropdown ng-repeat="action in field.actions"
                              type="success"
                              icon="action.icon"
                              items="action.list"
                              handler="action.handler"
                ></app-dropdown>
            </div>
        </div>

        <div class="aside__switch" ng-switch on="field.type">
            <div class="aside__switch-wrapper" ng-switch-when="search">
                <app-input
                    id="field.key"
                    type="text"
                    placeholder="field.placeholder"
                    after="field.after"
                    value="field.value"
                ></app-input>
            </div>
           <div class="aside__switch-wrapper" ng-switch-when="date">
               <app-datepicker
                       value="field.value"
                       placeholder="field.placeholder"
                       callback="field.callback"
               ></app-datepicker>
           </div>
          <div class="aside__switch-wrapper" ng-switch-when="textarea">
              <div class="input-group">
                <textarea
                        rows="5"
                        id="{{field.key}}"
                        class="form-control"
                        placeholder="{{field.placeholder}}"
                        ng-model="field.value"></textarea>
              </div>
          </div>
            <div class="aside__switch-wrapper" ng-switch-default>
                <app-input
                        id="field.key"
                        type="text"
                        placeholder="field.placeholder"
                        value="field.value"
                ></app-input>
            </div>
        </div>
        <hr ng-if="$index !== fields.length - 1">
    </div>
</aside>
