.aside {
  box-shadow: 4px -1px 12px -4px rgba(0, 0, 0, 0.58);
  padding-left: 15px;
  padding-right: 15px;
  background-color: $accent-gray;
  height: calc(100vh - 115px);
  position: relative;
  z-index: 100;
  .input-group {
    width: 100%;
    display: flex;
  }

  &__field {
    padding: 5px 0 0;
    &-btn {
      width: 38px;
      display: inline-block;
    }
  }

  &__patient {
    font-weight: bold;
    color: $patient-color;
  }

  &__specialists-input {
    position: relative;
  }

  &__specialists-clear {
    position: absolute;
    cursor: pointer;
    z-index: 50;
    top: 12px;
    font-size: 10px;
    color: $red;
    right: 50px;
  }

  &__dropdown {
    right: 0;
    left: unset;
  }

  hr {
    border-color: rgba(0, 0, 0, .3);
    margin: 12px 0 0;
  }
}

