.schedule {
    &__header {
        border-bottom: 1px solid $hr-color;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__time-gap {
        float: right;
    }

    &__noinput {
        color: $dark-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        min-height: 615px;
    }

}
