.ps-container > .ps-scrollbar-x-rail, .ps-container > .ps-scrollbar-y-rail {
    opacity: 0.6;
    z-index: 100;
}

.ps-theme-custom-scroll {
    @include ps-container(map-merge($ps-theme-custom, (
            border-radius: 3px,
            scrollbar-x-rail-height: 6px,
            scrollbar-x-height: 6px,
            scrollbar-y-rail-width: 6px,
            scrollbar-y-width: 6px,)
    ));
    .ps-scrollbar-y-rail {}
}
