<div>
    <div class="container-fluid schedule__header">
        <div class="row">
            <div class="col-xs-8">
                <h2 class="schedule__title">{{'schedule.title' | dictionary}}</h2>
            </div>
            <div class="col-xs-4">
                <div class="btn-group schedule__time-gap">
                    <label class="btn btn-success" ng-model="schedCtrl.timeGap" btn-radio="1" uncheckable ng-change="schedCtrl.updateColumns()">{{'schedule.oneDay' | dictionary}}</label>
                    <label class="btn btn-success" ng-model="schedCtrl.timeGap" btn-radio="2" uncheckable ng-change="schedCtrl.updateColumns()">{{'schedule.twoDays' | dictionary}}</label>
                    <label class="btn btn-success" ng-model="schedCtrl.timeGap" btn-radio="7" uncheckable ng-change="schedCtrl.updateColumns()">{{'schedule.week' | dictionary }}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" ng-if="schedCtrl.columns.length">
        <app-table columns="schedCtrl.columns" on-select="schedCtrl.handleTableSelect(event, cell, column, patient)"></app-table>
    </div>

    <div class="schedule__noinput" ng-if="!schedCtrl.columns.length">
        <div>
            {{'schedule.noinput' | dictionary}}
        </div>
    </div>

    <app-schedule-menu selected="schedCtrl.scheduleMenu" on-close="schedCtrl.handlePopupClose" selected-patient="schedCtrl.patientService.current"></app-schedule-menu>

</div>
