.datepicker {
    &__previous {
        background-color: map-get($datepicker-colors, 'disabled');
    }

    &__active > button {
        background-color: map-get($datepicker-colors, 'active');

        &:hover {
            background-color: map-get($datepicker-colors, 'hover');
        }
    }

    &__selected > button {
        border: 1px solid map-get($datepicker-colors, 'hover');
        border-radius: 50%;
    }

    &__date > button {
        border-radius: unset;
        border: unset;
    }
}

.aside__field-btn.aside__field-btn--datepicker {
  width: 48px;
}
