.datepicker {
    &__date > button {
        border-radius: unset;
        border: unset;

        &:focus {
            outline: unset !important;
        }
    }

    &__disabled {
        background-color: map-get($datepicker-colors, 'disabled');
    }

    &__active > button {
        background-color: map-get($datepicker-colors, 'active') !important;
    }

    &__day > button {
        &.active {
            position: relative;
            box-shadow: unset;

            & > span {
                color: $black;
            }
            
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                border: 2px solid map-get($datepicker-colors, 'hover');
                border-radius: 50%;
                display: block;
                content: '';
                width: 70%;
                height: 86%;
                margin: 7% 15%;
            }
        }

        &:hover {
            border-radius: 2px;
            background-color: map-get($datepicker-colors, 'hover') !important;
            & > span {
                color: $white;
            }
        }
    }

    &__template {
        th:first-of-type button, th:last-of-type button {
            border: unset;
        }

        th:nth-of-type(2) button {
            background: map-get($datepicker-colors, 'action-cancel');
            display: block;
            width: 90% !important;
            margin: 0 auto;

            &:disabled {
                opacity: 1;
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        padding: 10px 10px 4px;

        &-cancel {
            background: map-get($datepicker-colors, 'action-cancel');
            padding: 5px 20px;
        }

        &-ok {
            background: map-get($datepicker-colors, 'action-ok');
            margin-left: 10px;
            padding: 5px 25px;
        }
    }
}

.aside__field-btn.aside__field-btn--datepicker {
  width: 48px;
}
