<div class="input" ng-switch on="type">
    <div class="input-group" ng-switch-when="textarea">
         <textarea
             rows="5"
             id="{{id}}"
             class="form-control"
             placeholder="{{placeholder}}"
             ng-model="value"></textarea>
    </div>
    <div class="input-group" ng-switch-default>
        <span class="input-group-addon" ng-if="!before.button && before"><i class="{{before.icon}}" ng-if="before.icon"></i>{{before.text}}</span>
        <button
                ng-if="before.button && before"
                type="button"
                class="btn input-group-addon aside__field-btn"
                ng-click="before.callback(scope)">
            <i class="{{before.icon}}" ng-if="before.icon"></i>{{before.text}}
        </button>
        <input
                type="{{type}}"
                id="{{id}}"
                class="form-control"
                placeholder="{{placeholder}}"
                ng-model="value"
                ng-change="changeValue($event, ngModel)"
        >
        <button
                ng-if="after.button && after"
                type="button"
                class="btn input-group-addon aside__field-btn"
                ng-click="after.callback(scope)">
            <i class="{{after.icon}}" ng-if="after.icon"></i>{{after.text}}
        </button>
        <span  class="input-group-addon" ng-if="!after.button && after"><i class="{{after.icon}}" ng-if="after.icon"></i>{{after.text}}</span>
    </div>
</div>
