.tree {
  position: relative;
  background-color: $white;
  user-select: none;
  border: solid 1px $tree-border-color;

  &__children {
    margin-left: 12.8px;
  }

  &__item {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: solid 1px $hr-color;
  }
}