<div class="d-flex justify-space-between align-items-center mb-10">
    <div>
        <label for="specialists-input" class="custom-label">{{'aside.specialists.label' | dictionary}}</label>
        <span>({{specCtrl.specialistService.selected.length}}/{{specCtrl.specialists.length}})</span>
    </div>
    <div class="aside__field-actions">
        <app-dropdown icon="'glyphicon glyphicon-filter'" items="specCtrl.dropdownItems"></app-dropdown>
    </div>
</div>

<div class="input-group mb-10 aside__specialists-input">
    <input
        id="specialists-input"
        type="text"
        class="form-control"
        spellcheck="false"
        placeholder="{{'aside.specialists.placeholder' | dictionary}}"
        ng-model="value"
        ng-change="specCtrl.handleValueChange()"
        typeahead="typeahead as typeahead.name for typeahead in specCtrl.typeaheads | filter:{name:$viewValue} | limitTo:8"
        typeahead-min-length="3"
        typeahead-no-results="specCtrl.noResults"
        typeahead-select-on-exact="true"
        typeahead-select-on-blur="true"
        ng-blur="specCtrl.handleBlur()"
    />
    <ul ng-if="specCtrl.noResults" class="dropdown-menu" style="display: block;">
        <li><a>{{'aside.specialists.noResults' | dictionary}}</a></li>
    </ul>
    <div ng-show="specCtrl.value" ng-click="specCtrl.handleClear()" class="aside__specialists-clear">
        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
    </div>
    <button type="button" class="btn input-group-addon aside__field-btn">
        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
    </button>
</div>

<div class="btn-group mb-50">
    <label class="btn btn-default btn-sm" ng-model="specCtrl.order" btn-radio="0" ng-change="specCtrl.handleOrderChange()">По специальностям</label>
    <label class="btn btn-default btn-sm" ng-model="specCtrl.order" btn-radio="1" ng-change="specCtrl.handleOrderChange()">По алфавиту</label>
</div>

<app-tree items="specCtrl.tree" on-checkbox-change="specCtrl.handleCheckboxChange(item)"></app-tree>
