<div class="d-flex justify-space-between align-items-center mb-10">
    <div>
        <label for="specialists-input" class="custom-label">{{'aside.specialists.label' | dictionary}}</label>
        <span>({{selected.length}}/{{specialists.length}})</span>
    </div>
    <div class="aside__field-actions">
        <div class="btn-group ml-10" dropdown>
            <button
                class="btn btn-success btn-sm dropdown-toggle"
                id="specialists-dropdown"
                type="button"
                dropdown-toggle
            >
                <i class="glyphicon glyphicon-filter" aria-hidden="true"></i>
                <i class="caret" style="margin-left: 6px;"></i>
            </button>
            <ul class="dropdown-menu aside__dropdown" role="menu" aria-labelledby="specialists-dropdown">
                <li role="menuitem"><a href ng-click="select()">
                    <span class="glyphicon glyphicon-ok mr-10" aria-hidden="true"></span>{{'aside.specialists.select' | dictionary}}
                </a></li>
                <li role="menuitem"><a href ng-click="unselect()">
                    <span class="glyphicon glyphicon-remove mr-10" aria-hidden="true"></span>{{'aside.specialists.unselect' | dictionary}}
                </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="input-group mb-10">
    <input
        id="specialists-input"
        type="text"
        class="form-control"
        spellcheck="false"
        placeholder="{{'aside.specialists.placeholder' | dictionary}}"
        ng-model="value"
        typeahead="specialist as specialist.name for specialist in specialists | filter:{name:$viewValue} | limitTo:8"
        typeahead-min-length="3"
        typeahead-no-results="noResults"
        typeahead-select-on-exact="true"
        typeahead-select-on-blur="true"
        ng-blur="handleBlur()"
    />
    <ul ng-if="noResults" class="dropdown-menu" style="display: block;">
        <li><a>{{'aside.specialists.noResults' | dictionary}}</a></li>
    </ul>
    <button type="button" class="btn input-group-addon aside__field-btn">
        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
    </button>
</div>

<div class="btn-group mb-50">
    <label class="btn btn-default btn-sm" ng-model="order" btn-radio="0" ng-change="handleOrderChange()">По специальностям</label>
    <label class="btn btn-default btn-sm" ng-model="order" btn-radio="1" ng-change="handleOrderChange()">По алфавиту</label>
</div>

<app-tree items="tree" on-checkbox-change="handleCheckboxChange"></app-tree>