<div class="app-wrapper">
    <header class="header">
        <div class="container">
            <h1 class="h1 header__title">Сетка расписания</h1>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="col-sm-12 col-md-4">
                <div class="page-aside">
                    <app-aside></app-aside>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <section class="page-content py-20" ng-view></section>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <blockquote class="blockquote">Copyright <a href="https://mir-dit.ru/" target="_blank">Мир данных ИТ</a> 2020</blockquote>
        </div>
    </footer>
</div>
