<div class="btn-group ml-10" dropdown>
    <button
        class="btn btn-success btn-sm dropdown-toggle"
        type="button"
        dropdown-toggle
        ng-disabled="disabled"
    >
        <i class="{{icon}}" aria-hidden="true"></i>
        <i class="caret" style="margin-left: 6px;"></i>
    </button>
    <ul class="dropdown-menu aside__dropdown" role="menu">
        <li role="menuitem" ng-repeat="item in items"><a href ng-click="item.onClick && item.onClick()">
            <span class="{{item.icon}} mr-10" aria-hidden="true" ng-if="item.icon"></span>{{item.label}}
        </a></li>
    </ul>
</div>
