$bg-color: #e9e9e9;
$hr-color: #d1d1d3;
$table-date-color: #353535;
$table-doctor-info-color: #949494;
$table-hr-color: #e6e6e6;
$table-adress-free-color: #8ec8d6;
$table-adress-busy-color: #eba740;
$table-interval-free-color: #a4c589;
$table-interval-busy-color: #d15531;
$table-border-color: #949494;
$table-free-color: #e8e8eb;
$table-affairs-color: #949494;
$table-busy-border-color: #d1481f;
$table-empty-color: #d4e0e2;
$table-busy-color: #f6ddd6;
