@use "sass:map";

$cell-height: 30px;

@mixin bg($color) {
    background-color: map.get($table-colors, $color);
}

.table {
    position: relative;
    height: 100%;
    width: 100%;

    &__header {
        position: relative;
        display: flex;

        &-column {
            text-align: center;
        }
    
        &-cell {
            position: relative;
            padding: 5px 19px 7px;
            z-index: 10;
        }
    
        &-date {
            @include bg("date");
            border-radius: 2px 2px 0 0;
            background-color: $table-date-color;
            color: #ffffff;
        }

        &-doctor {
            &-name {
                background-color: $table-doctor-info-color;
                color: #ffffff;
                border-bottom: 1px solid $table-hr-color;
            }
        
            &-specialty{
                background-color: $table-doctor-info-color;
                color: #ffffff;
                font-style: italic;
            }
        }

        &-address {
            color: #000000;
    
            &_free {
                background-color: $table-address-free-color;
            }
    
            &_busy {
                background-color: $table-address-busy-color;
            }
        }
    
        &-interval {
            color: #000000;
    
            &_free {
                background-color: $table-interval-free-color;
            }
    
            &_busy {
                background-color: $table-interval-busy-color;
            }
    
            &_rolled {
                height: $cell-height * 2;
                cursor: pointer;
            }
        }
    }

    &__column {
        margin-right: 5px;
        width: 170px;
        background-color: $table-empty-color;
        flex-shrink: 0;

        &_busy {
            background-color: $table-busy-color;
            border: solid 2px $table-busy-border-color;
            border-radius: 2px 2px 0 0;
            border-bottom: unset;
        }
    }

    &__body {
        position: relative;
        display: flex;
        z-index: 5;

        &-column {
            border-radius: 0 0 2px 2px ;
            border-top: unset;
        }
    }

    &__cell {
        height: $cell-height;

        &-free {
            background-color: $table-free-color;
            border-bottom: dashed 1px $table-border-color;
        }

        &-affairs {
            height: $cell-height * 2;
            background-color: $table-affairs-color;
            border-bottom: dashed 1px $table-border-color;
        }

        &-used {
            display: flex;
            border: solid 1px $table-used-border-color;
        }
    }

    &__text {
        padding: 2px 5px 4px;
    }

    &__patient {
        background-color: $table-used-color;
        flex-grow: 1;
        padding: 2px 5px 4px;
    }
    
}
