<div class="table" init-plugin="scrollbar">
    <div class="table__header" ng-style="{ top: offset + 'px' }">
        <div class="table__column table__header-column" ng-repeat="column in columns | tableOrderColumn" ng-class="{'table__column_busy': !column.interval}">
            <div class="table__header-cell table__header-date">{{ column.date | tableDate}}</div>
            <div class="table__header-cell table__header-doctor-name" ng-style="{ height: heights.doctor + 'px' }">{{ column.doctor }}</div>
            <div class="table__header-cell table__header-doctor-specialty" ng-style="{ height: heights.specialty + 'px' }">{{ column.specialty }}</div>
            <div
                class="table__header-cell table__header-doctor-address"
                ng-style="{ height: heights.address + 'px' }"
                ng-class="column.interval ? 'table__header-address_free' : 'table__header-address_busy'"
                >{{ column.address }}</div>
            <div
                ng-if="column.interval"
                class="table__header-cell table__header-interval table__header-interval_free"
                ng-click="unroll($index)"
                ng-class=" {
                    'table__header-interval_rolled': rolled.includes($index),
                }">{{ rolled.includes($index) ? 'Врач работает' : column.interval }}</div>
            <div ng-if="column.busy" class="table__header-cell table__header-interval table__header-interval_busy">{{ column.busy }}</div>
        </div>
    </div>
    <div class="table__body">
        <div class="table__column table__body-column" ng-repeat="column in columns | tableOrderColumn" ng-class="{'table__column_busy': !column.interval}">
            <div
                ng-repeat="cell in column.rows"
                class="table__cell"
                ng-class="{
                    'table__cell-affairs': cell.reason,
                    'table__cell-free': cell.time && !cell.patient,
                    'table__cell-used': cell.patient,
                }">
                    <span class="table__text">{{ cell.reason || (cell.time | date: 'HH:mm') }}</span>
                    <span class="table__patient" ng-if="cell.patient">{{ cell.patient }}</span>
            </div>
        </div>
    </div>
</div>
